@inherits ButtonBase
<button class="btn @GetButtonTypeClass() @GetButtonSizeClass() @Classes @(Stretch ? "btn-block" : string.Empty)" type="@GetButtonType()" @attributes="Attributes" @onclick="OnClick" disabled="@(!IsEnabled)">@ChildContent</button>
@code {
    private string GetButtonTypeClass()
     => Style switch
     {
         Style.Primary => "btn-primary",
         Style.Secondary => "btn-secondary",
         Style.Success => "btn-success",
         Style.Danger => "btn-danger",
         Style.Warning => "btn-warning",
         Style.Info => "btn-info",
         Style.Light => "btn-light",
         Style.Dark => "btn-dark",
         _ => string.Empty
     };
}
