@inherits ButtonBase
<button class="btn @GetButtonTypeClass() @GetButtonSizeClass() @Classes @(Stretch ? "btn-block" : string.Empty)" type="@GetButtonType()" @attributes="Attributes" @onclick="OnClick" disabled="@(!IsEnabled)">@ChildContent</button>
@code {
    private string GetButtonTypeClass()
     => Style switch
     {
         Style.Primary => "btn-outline-primary m-shadow-primary",
         Style.Secondary => "btn-outline-secondary m-shadow-secondary",
         Style.Success => "btn-outline-success m-shadow-success",
         Style.Danger => "btn-outline-danger m-shadow-danger",
         Style.Warning => "btn-outline-warning m-shadow-warning",
         Style.Info => "btn-outline-info m-shadow-info",
         Style.Light => "btn-outline-light m-shadow-light",
         Style.Dark => "btn-outline-dark m-shadow-dark",
         _ => string.Empty
     };
}
